<footer class="footer-main">
    <a name="contacts"></a>
    <div class="footer_i">
        <div class="footer__bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 text-left left">
                        <p>{{t "alisa_name"}}</p>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 text-center">
                        <p></p>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 text-right">
                        <div class="share clearfix">
                            <ul>
                                <li><a target="_blank" href="{{globals.config.facebook.page_url}}"><i class="fa fa-facebook light"></i></a>
                                </li>
                                <li><a target="_blank" href="{{globals.config.twitter.page_url}}"><i class="fa fa-twitter light"></i></a>
                                </li>
                                <li><a target="_blank" href="{{globals.config.google_plus.page_url}}"><i class="fa fa-google-plus light"></i></a>
                                </li>
                                <li><a target="_blank" href="{{globals.config.youtube.url}}"><i class="fa fa-youtube light"></i></a>
                                </li>
                                <!--<li><a href="#"><i class="fa fa-skype light"></i></a>-->
                                <!--</li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                <!--row end-->
            </div>
            <!--container end-->
        </div>
        <!--footer__bottom end-->
    </div>
</footer>
