<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!--SEO Meta Tags-->
    <meta name="description" content="{{t "meta_description"}}" />
    <meta name="keywords" content="{{t "key_words"}}" />
    <meta name="author" content="{{t "alisa_name"}}" />

    <meta property="og:title" content="Alisa Plotkin"/>
    <meta property="og:image" content="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xfl1/v/t1.0-9/12742771_175422876165188_7931209722178001212_n.jpg?oh=831c72d16c75890b5a8d892ad4398b0f&oe=5790EB05"/>
    <meta property="og:site_name" content="Alisa Plotkin"/>
    <meta property="og:description" content="{{t "meta_description"}}"/>

    <!--Mobile Specific Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <!-- Page Specific Styles -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Page Color Styles -->
    <link rel="stylesheet" href="/css/colors/skin-2.css" />

    <!--Modernizr-->
    <script src="/js/libs/modernizr.custom.js"></script>
    {{>googleAnalytics}}
</head>

<body ontouchstart="">
    <h1 class="h_head">Content</h1>
    {{{body}}}
</body>
<script src="/js/libs/jquery-1.11.2.min.js"></script>
<script src="/js/plugins/isotope.pkgd.min.js"></script>
<script src="/js/plugins/bootstrap.min.js"></script>
<script src="/js/plugins/swiper.jquery.min.js"></script>
<script src="/js/plugins/verge.min.js"></script>
<script src="/js/plugins/jquery.parallax.js"></script>
<script src="/js/plugins/snap.svg-min.js"></script>
<script src="/js/plugins/classie.js"></script>
<script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>

<!-- Custom JS-->
<script type="text/javascript" src="/js/scripts.js"></script>
</html>
