<!DOCTYPE html>
<html>
<head>
    <meta property="og:title" content="Alisa Plotkin"/>
    <meta property="og:image" content="https://alisa-music.com/img/paralax/alisa.png"/>
    <meta property="og:site_name" content="Alisa Plotkin"/>
    <meta property="og:url" content="https://alisa-music.com"/>
    <meta property="og:type" content="website" /> 
    <meta property="og:description" content="{{t "meta_description"}}"/>
    <meta property="fb:app_id" content="580769905419592"/>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!--SEO Meta Tags-->
    <meta name="description" content="{{t "meta_description"}}" />
    <meta name="keywords" content="{{t "key_words"}}" />
    <meta name="author" content="{{t "alisa_name"}}" />
    <!--Mobile Specific Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <!-- Page Specific Styles -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Page Color Styles -->
    <link rel="stylesheet" href="/css/colors/skin-2.css" />
    {{>googleAnalytics}}
    {{>addSense}}
    <script type="text/javascript">
        window.smartlook||(function(d) {
            var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
            var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
            c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
        })(document);
        smartlook('init', '4d9ddb569464a477b0aee388c7968f8536a18d35');
    </script>
</head>

<body ontouchstart="">
    <h1 class="h_head">Content</h1>
    {{{body}}}
</body>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '580769905419592',
            xfbml      : true,
            version    : 'v2.6'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!--Modernizr-->
<script src="/js/libs/modernizr.custom.js"></script>
<script src="/js/libs/jquery-1.11.2.min.js"></script>
<script src="/js/plugins/isotope.pkgd.min.js"></script>
<script src="/js/plugins/bootstrap.min.js"></script>
<script src="/js/plugins/swiper.jquery.min.js"></script>
<script src="/js/plugins/verge.min.js"></script>
<script src="/js/plugins/jquery.parallax.js"></script>
<script src="/js/plugins/snap.svg-min.js"></script>
<script src="/js/plugins/classie.js"></script>
<!-- Custom JS-->
<script type="text/javascript" src="/js/scripts.js"></script>
</html>
